<div class="container">
  <div class='form-wrapper'>
    <%= form_tag(users_path) do %>
      <label>Enter username:</label><br>
      <%= text_field_tag :'username', nil, autofocus: true, required: true %><br>

      <label>Enter email:</label><br>
      <%= text_field_tag :'email', nil, required: true %><br>

      <label>Enter password:</label><br>
      <%= password_field :'password', nil, required: true %><br>
    
      <%= submit_tag "Sign Up", class: 'submit-btn' %>
    <% end %>
    <%= render 'shared/showErrors' %>
  </div>
</div>