<div class='wrapper'>
  <% @books.each do |book| %>
    <div class='card'>
      <img class='card__img' src='<%=book.img%>' alt='<%= "#{book.title}" %>-img' />
      <p class='card__title'><%= book.title %></p>
      <p class='card__author'><%= book.author %></p>
      <% if logged_in? %>
        <% if !in_my_db?(book) %>
          <%= link_to '<button class="inner_card__btn">ADD</button>'.html_safe, add_book_path(book: book.id), id: "#{book.id}", method:'POST', class: "card__btn" %>
        <% else %>
          <%= link_to '<button class="inner_card__btn">REMOVE</button>'.html_safe, remove_book_path(book: book.id), id: "#{book.id}", method:'POST', class: "card__btn" %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>