<div class="postOuterContainer">
  <div class="postInnerContainer">
      <% @posts.each do |post| %>
        <div class="post">
          <h2 class="postHeading"><%= link_to post.title, post_path(post) %></h2>
          <p class="postIndexPublished"><%= "Published #{time_ago_in_words(post.created_at)} ago" %></p>
          <% if post.user %>
            <p class="postIndexBy"><%= "by #{post.user.username}" %></p>
          <% end %>
          <p class="postIndexComments"><%= "#{pluralize(post.comments.count, 'Comment')}"  %></p>
         </div>
      <% end %>
   

    <div class="newPost">
      <% if logged_in? %>
        <%= link_to "New Post", new_post_path%>
      <% end %>
    </div>
  </div>
</div>