<h1><%= @post.title %></h1>
<p><%= @post.content %></p>

<% if logged_in? && @post.user.username == current_username %>
  <%= link_to "Edit", edit_post_path(@post) %>
  <%= link_to "Delete", post_path(@post), method: :delete, data: {confirm: "Are you sure you want to delete?"} %><br><br>
<% end %>
<%= link_to "All Posts", posts_path %>