<!DOCTYPE html>
<html>
  <head>
    <title>NovelIdeas</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Arvo&display=swap" rel="stylesheet">
  </head>
  <body>
  <nav>
    <div class="nav">
      <h1><%= link_to 'Novel Ideas', '/' %></h1>
      <ul>
        <li><%= link_to 'Top 100', '/top100' %></li>
        <% if !logged_in? %>
          <li><%= link_to 'Sign Up', '/signup' %></li>
          <li><%= link_to 'Log In', '/login' %></li>
        <% else %>
          <li><a href="#"><%=current_user.username %></a> </li>
          <li><%= link_to 'Log Out', '/logout' %></li>
          <%# <%= image_tag("arrow-down.svg", :alt => "down arrow") %>
        <% end %>
      </ul>
    </div>
  </nav>
  <div class="full-page">
    <%= yield %>
  </div>
  <footer>
  <a href="/admin">Patrick Grady</a>
  </footer>
  </body>
</html>
