<!DOCTYPE html>
<html>
  <head>
    <title>NovelIdeas</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Arvo&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Reenie+Beanie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gotu&family=Roboto+Condensed:wght@700&display=swap" rel="stylesheet">
  </head>
  <body>
  <nav>
    <div class="nav">
      <h1><%= link_to 'Novel Ideas', root_path %></h1>
      <%= form_tag(search_results_path) do %>
        <%= text_field_tag :'search' %>
        <%= submit_tag "Search", id: 'search-btn' %>
      <% end %>
      <ul>
        <li><%= link_to 'Forum', posts_path %></li>
        <li><%= link_to 'Top 100', top100_path %></li>
        <% if !logged_in? || current_user == nil %>
          <li><%= link_to 'Sign Up', new_user_path %></li>
          <li><%= link_to 'Log In', new_session_path %></li>
        <% else %>
          <li><%= link_to current_user.username, user_path(current_user.id) %></a> </li>
          <li><%= link_to 'Log Out', logout_path %></li>
        <% end %>
      </ul>
    </div>
  </nav>
  <div class="full-page">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
    <%= yield %>
  </div>
  <%# <footer>
  <a href="/admin">Patrick Grady</a>
  </footer> %>
  </body>
</html>
